<section class="cta-section">
  <div class="cta-container">
    <h2>Bereit für Ihr nächstes Projekt?</h2>
    <p>
      Kontaktieren Sie uns für eine kostenlose Beratung und lassen Sie sich von
      unserer Expertise überzeugen!
    </p>
    <div
      style="display: flex; gap: 1rem; justify-content: center; flex-wrap: wrap"
    >
      <a href="contact.html" class="btn btn-primary">
        Jetzt Anfragen <i class="fa-solid fa-paper-plane"></i>
      </a>
      <a href="tel:00436642242907" class="btn btn-secondary">
        <i class="fa-solid fa-phone"></i> +43 664 22 42 907
      </a>
    </div>
  </div>
</section>
